.contenedor{
	position:absolute;
	margin-top:90px;
	width:600px;
	height:600px;
	top:20px;
	left:400px;
}
.titulo{
	text-align: center;
}
.tabla{
	margin: auto;
}
.boton{
	padding:40px;
	width:40px;
}
.caja{
	width: 348px;
    height: 40px;
}