
.tabla{
	
	
	
}
h1{
	font-size:50px;
}
table td{
	border: 1px solid #000;
	padding:15px;
	
}
.colores{
	background:#34495E;
	color:#F0F3F4;
}
.horas{
	background:#34495E;
	color:#F0F3F4;
}
.horas1{
	background:#34495E;
	color:#F0F3F4;
}
.horas2{
	background:#34495E;
	color:#F0F3F4;
}
.horas3{
	background:#34495E;
	color:#F0F3F4;
}
.horas4{
	background:#34495E;
	color:#F0F3F4;
}
.horas5{
	background:#34495E;
	color:#F0F3F4;
}
.horas6{
	background:#34495E;
	color:#F0F3F4;
}
.horas7{
	background:#34495E;
	color:#F0F3F4;
}