.caja1{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color:honeydew;
    top: 60px;
    left: 10px;
    border-radius: 10px;
    

}
.caja2{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color:honeydew;
    top: 60px;
    left: 95px;
    border-radius: 10px;
}
.caja3{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color:honeydew;
    top: 60px;
    left: 180px;
    border-radius: 10px;

}
.caja4{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color:honeydew;
    top: 60px;
    left: 265px;
    border-radius: 10px;

}
.caja5{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color:honeydew;
    top: 60px;
    left: 350px;
    border-radius: 10px;

}
.boton{
    position: absolute;
    width: 415px;
    height: 40px;
    background-color:honeydew;
    top: 130px;
    left: 10px;
    border-radius: 10px;
}
.caja{
    position: absolute;
    top: 180px;
    left: 10px;
    border-radius: 10px;
}
.c1{
    position: absolute;
    top: 200px;
    left: 10px;
    border-radius: 10px;
}
.c2{
    position: absolute;
    top: 220px;
    left: 10px;
    border-radius: 10px;
}
.caja6{
    position: absolute;
    width: 75px;
    height: 15px;
    background-color:honeydew;
    top: 180px;
    left: 120px;
    border-radius: 10px;

}
.caja7{
    position: absolute;
    width: 75px;
    height: 15px;
    background-color:honeydew;
    top: 200px;
    left: 120px;
    border-radius: 10px;

}
.caja8{
    position: absolute;
    width: 75px;
    height: 15px;
    background-color:honeydew;
    top: 220px;
    left: 120px;
    border-radius: 10px;

}
