/* TITULOS*/

h1 {
	position: relative;
	font: oblique bold 120% cursive;
	font-size: 90px;
	text-align: center;
}


/* PIE DE PAGINA */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(74, 158, 238, 0.986);
	color: white;
	font: oblique bold 120% cursive;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}


/* EJERCICIO 1*/

h1 {
	font-size: 50px;
}

tr {
	font-family: cursive;
	text-transform: uppercase;
	text-align: center;
}

.tablahorario td {
	border: 2px solid rgba(18, 133, 241, 0.986);
	padding: 5px;
}

.colores {
	background: rgb(109, 182, 255);
	color: #F0F3F4;
}

.horas {
	background: rgb(107, 181, 255);
	color: #F0F3F4;
}

.esquina1 {
	border-top-left-radius: 15px;
}

.esquina2 {
	border-bottom-left-radius: 15px;
}

.esquina3 {
	border-top-right-radius: 15px;
}

.esquina4 {
	border-bottom-right-radius: 15px;
}


/* EJERCICIO 2*/

.caja {
	display: flex;
	font-family: cursive;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
}

.cuadrado {
	position: relative;
	margin-top: 50px;
}

div#contenido {
	position: relative;
	margin-top: 60px;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	left: 400px;
	border-radius: 15px;
	border-width: 5px;
}

div#rojo {
	background: #C0392B;
	position: absolute;
	height: 350px;
	width: 150px;
	top: 0px;
	left: 0px;
	border-radius: 15px;
}

div#rojo:hover {
	background: #EC7063;
	border-radius: 15px;
}

div#azul {
	background: #2874A6;
	height: 150px;
	width: 350px;
	position: absolute;
	top: 0px;
	left: 150px;
	border-radius: 15px;
}

div#azul:hover {
	background: #5DADE2;
	border-radius: 15px;
}

div#negro {
	background: #000000;
	position: absolute;
	height: 200px;
	width: 200px;
	top: 150px;
	left: 150px;
	border-radius: 15px;
}

div#negro:hover {
	background: #566573;
	border-radius: 15px;
}

div#amarillo {
	background: #F4D03F;
	position: absolute;
	height: 350px;
	width: 150px;
	top: 150px;
	left: 350px;
	border-radius: 15px;
}

div#amarillo:hover {
	background: #F7DC6F;
	border-radius: 15px;
}

div#verde {
	background: #2ECC71;
	position: absolute;
	height: 150px;
	width: 350px;
	top: 350px;
	left: 0px;
	border-radius: 15px;
}

div#verde:hover {
	background: #82E0AA;
	border-radius: 15px;
}
/* EJERCICIO 3*/
.punto3{
	position: relative;
}
.campos{
	position: relative;
}
.respuestas{
	position: relative;
}
.caja1{
    position: relative;
    width: 75px;
    height: 40px;
    background-color:white;
	top: 0px;
    left:400px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
     
    

}
.caja2{
    position: relative;
    width: 75px;
    height: 40px;
    background-color:white;
    top: 0px;
    left: 430px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
    
}
.caja3{
    position: relative;
    width: 75px;
    height: 40px;
    background-color:white;
    top: 0px;
    left: 460px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
    

}
.caja4{
    position: relative;
    width: 75px;
    height: 40px;
    background-color:white;
    top: 0px;
    left: 490px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
    

}
.caja5{
	
    position: relative;
    width: 75px;
    height: 40px;
    background-color:white;
    top: 0px;
    left: 520px;
	border-radius: 10px;
	font: oblique bold 120% cursive;

}
.boton3{
	text-transform: uppercase;
	position: relative;
    width: 515px;
    height: 40px;
    background-color:rgba(18, 133, 241, 0.986);
    top: 20px;
    left: 410px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
}
.c1{
	position:relative;
    top: 100px;
	left: 50px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
	text-transform: uppercase;
}
.c2{
	text-transform: uppercase;
    position: relative;
	top: 160px;
	left: -220px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
}
.c3{
	text-transform: uppercase;
    position: relative;
	top: 210px;
    left: -450px;
	border-radius: 10px;
	font: oblique bold 120% cursive;
}
.caja6{
    position: relative;
    width: 75px;
    height: 25px;
    background-color:white;
    top: 100px;
    left: 80px;
	border-radius: 10px;
	font: oblique bold 120% cursive;

}
.caja7{
    position: relative;
    width: 75px;
    height: 25px;
    background-color:white;
    top: 160px;
    left: -180px;
	border-radius: 10px;
	font: oblique bold 120% cursive;

}
.caja8{
    position: relative;
    width: 75px;
    height: 25px;
    background-color:white;
    top: 210px;
    left: -380px;
	border-radius: 10px;
	font: oblique bold 120% cursive;

}



/* EJERCICIO 6*/
.punto6{
	top: 300px;
	position: relative;
}
.tablacalculadora {
	top: 30px;
  position: relative;  
  margin:auto;
  display: flex;
  align-items:center;
  justify-content:center;
  font-family:Helvetica,Sans-serif;
bottom: 0;
}

.boton6 {
	width: calc(100px);
	height: calc(100px);
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 2vw;
	font-weight: bold;
	border-radius: 15px;
	color: white;
	
}
.campocalculadora {
	font: oblique bold 120% cursive;
	text-decoration:none;
  }

.boton6:hover {
	animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
	to {
	  background-position:10vw;
	}
  } 
  .caja{
	font: oblique bold 120% cursive;
	position: relative;
	top: 0px;
	left:-10px;
	width: 490px;
	height: 60px;
	border-radius: 25px;
}






